---
layout: frame
title: HOME
---
<style type="text/css">
.navbar-brand {
	display: none;
}
.header-outer {
	height: 256px;
}
.header-inner {
	display: block;
}
@media (max-width: 768px) {
	div .navbar-collapse {
	    background-color: rgba(0, 0, 0, 0.70);
	}
}
/* 置顶栏颜色（只在index中）*/
.sticky-content a {
  color: rgba(0, 0, 0, 0.8);
}
.sticky-content a:hover {
  color: rgba(0, 0, 0, 1);
}
</style>
<div class="index-left
    col-lg-8 col-lg-offset-1
    col-md-8 col-md-offset-1
    col-sm-12
    col-xs-12
    post-container">
    <div class="index-left-default">
      <div class="index-posts">
        <!-- Loop output paged posts -->
        {% for post in paginator.posts %}
        <div>
          <h2>
            <a href="{{ post.url }}" id="index-post-title-{{post.url|split:'/posts/'}}">
              {{ post.title }}
            </a>
          </h2>
          <div class="post-date">{{ post.date | date:"%Y-%m-%d" }}</div>
          <!-- pc -->
          <div class="post-excerpt hidden-xs hidden-sm">{{ post.excerpt }}</div>
          <div class="post-read-more hidden-xs hidden-sm">
            <i><a href="{{post.url}}" id="index-post-read-more-{{post.url|split:'/posts/'}}">......read more</a></i>
          </div>
          <!-- mobile -->
          <div class="post-excerpt-mobile hidden-md hidden-lg">{{ post.excerpt | strip_html | truncate: 140 }}...</div>
          <hr>
        </div>
        {% endfor %}
        <script>
        $(function(){
          static_pjax(".index-posts h2 a", "#frame-main-content");
        });
        $(function(){
          static_pjax(".index-posts .post-read-more a", "#frame-main-content");
        });
        </script>
      </div>

      <!-- Pager indicator -->
      <div class="index-pager">
        <ul class="pager" id="index-pager">
          {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
          <li class="next">
            <a href="/">
              Newer &rarr;
            </a>
          </li>
          {% else %}
          <li class="next">
            <a href="/page/{{ paginator.previous_page }}">
              Newer &rarr;
            </a>
          </li>
          {% endif %} {% endif %} {% if paginator.next_page %}
          <li class="previous">
            <a href="/page/{{ paginator.next_page }}">
              &larr; Older
            </a>
          </li>
          {% endif %}
        </ul>
        <script>
        $(function(){
          static_pjax(".index-pager ul li a", "#frame-main-content");
        });
        </script>
      </div>
    </div>
    <div class="tag-results" id="tag-results"></div>
</div><!-- index-left -->
<div class="
    col-lg-3 col-lg-offset-0
    col-md-3 col-md-offset-0
    col-sm-12
    col-xs-12
    hidden-sm
    hidden-xs
    sidebar-container" style="padding-top: 7px;">
  {% include side.html %}
</div>
