<div class="sticky" id="sticky">
	<h4>
	  <a href='/posts/'>Sticky</a>
	</h4>
	<div class="sticky-content">
		<ul class="list-unstyled" id="sticky-content">
			<li><a href="http://onequick.org" target="_blank">OneQuick - Windows快捷键工具</a></li>
			{% for post in site.posts %}
				{% if post.sticky == true %}
					<li><a class="pjax" href="{{post.url}}">{{post.title}}</a></li>
				{% endif %}
			{% endfor %}
        </ul>
	</div>
</div>
<script>
$(function() {
	static_pjax(".sticky a.pjax", "#frame-main-content");
})
</script>