<script src="/js/jquery-2.2.2.min.js"></script>
<script src="/js/blog.js"></script>

<div class="tags" id="tags">
	<a class="clear" href="javascript:void(0);" onclick="tag_pjax.clear_tags();" style="display: none; float: right; ">clear</a>
	<h4>
		<a href='javascript:void(0);' onclick="h4_tags_click();">Tags</a>
	</h4>
	<div style="clear: both;" class="tags-content" id="tags-content">
		{% for tag in site.tags %} 
			<a href="javascript:void(0);" class='tag' data-tag="{{tag[0]}}">
				{{tag[0]}}<sup>{{tag[1].size}}</sup>
			</a>
		{% endfor %}
	</div>
</div>

<script>
tag_pjax.reset();
var index_left = {
	out: function() {
		return new Promise(function(resolve, reject) {
			var target = $(".index-left-default");
			if(target.length==0) {
				resolve();
			}
			else {
				target.fadeOut(100*ANI_MULTI, function(){
					resolve();
				});
			}
		});
	},
	in: function() {
		return new Promise(function(resolve, reject) {
			var target = $(".index-left-default");
			if(target.length==0) {
				resolve();
			}
			else {
				$(".index-left-default").fadeIn(100*ANI_MULTI, function(){
					resolve();
				});
			}
		});
	},
};
var tag_area = {
	out: function() {
		return new Promise(function(resolve, reject) {
			$(".tag-results").fadeOut(100*ANI_MULTI, function(){
				resolve();
			});
		});
	},
	in: function() {
		return new Promise(function(resolve, reject) {
			$(".tag-results").fadeIn(100*ANI_MULTI, function(){
				resolve();
			});
		});
	},
	btn_clear_out: function() {
		return new Promise(function(resolve, reject) {
			$(".tags .clear").fadeOut(100*ANI_MULTI, function(){
				resolve();
			});
		});
	},
	btn_clear_in: function() {
		return new Promise(function(resolve, reject) {
			$(".tags .clear").fadeIn(100*ANI_MULTI, function(){
				resolve();
			});
		});
	},
}
$(function(){
	// callback list
	tag_pjax.bind({
		tag_press: function(taga) {
			log('[event] tag_pjax: tag_press');
			taga.css('color', '#4184F3');
		},
		tag_popup: function(taga) {
			log('[event] tag_pjax: tag_popup');
			taga.css('color', '');
		},
		before: function() {
			return new Promise(function(resolve, reject){
				log('[event] tag_pjax: before');
				Promise.all([
					tag_area.out(),
					index_left.out()
					])
					.then(resolve)
					.catch(error);
			});
		},
		after: function() {
			return new Promise(function(resolve, reject){
				log('[event] tag_pjax: after');
				// 每次显示重新绑定
				static_pjax(".tag-results a", "#frame-main-content");
				// 动画效果
				if(tag_pjax.isempty()){
					Promise.all([
						tag_area.btn_clear_out(),
						tag_area.out(),
						])
					.then(index_left.in)
					.then(resolve)
					.catch(error);
				}
				else{
					index_left.out().then(function(){
						return Promise.all([
							tag_area.in(),
							tag_area.btn_clear_in(),
							]);
					})
					.then(resolve)
					.catch(error);
				}
			});
		},
		tag_clear: function() {
			log('[event] tag_pjax: tag_clear');
			$('.tags .tag').css('color', '');
			Promise.all([
				tag_area.btn_clear_out(),
				tag_area.out(),
				])
			.then(index_left.in)
			.catch(error);
		},
	});
	// bind event
	tag_pjax(".tags .tag", ".tag-results");
});
function h4_tags_click() {
	if(window.location.pathname!='/tags') {
		var url = '/tags#' + tag_pjax.pressed_tag().join(",");
		window.history.pushState('','', url);
		static_pjax.on_url_change(url, '#frame-main-content');
	}
}
</script>