---
layout: layouts/base.njk
permalink: /posts/
title: 文章
---

<div class="posts-page">
    {% if site.debug %}
    <p style="float: right; font-size: 0.8em;">
        <a href="/debug">[调试页面]</a>
    </p>
    {% endif %}

    {% include "partials/posts.njk" %}
</div>

<script>
    /* 用于 posts.js 配置 */
    var SITE_CONFIG = { disqus: "{{ site.integrations.disqus }}" };
</script>
