---
layout: base
---

<div class="home">
  <div class="home-content">
  {{- content -}}
  </div>

  <div class="post-sort-panel">
    <span class="post-panel-tip">排序: </span>
    <a href="javascript:toggleSort('update')" class="post-sort-button" data-sort="update">更新时间<span class="post-sort-sign"></span></a>
    <a href="javascript:toggleSort('date')" class="post-sort-button" data-sort="date">创建时间<span class="post-sort-sign"></span></a>
    <span class="post-panel-tip">筛选: </span>
    <a href="javascript:toggleEmoji()" class="post-filter-emoji">emoji</a>
  </div>
  <div class="post-filter-panel">
    <span class="post-panel-tip">标签: </span>
    <div class="tags-list"></div>
  </div>
  <br>

  {%- assign posts = site.posts -%}
  {%- if posts.size > 0 -%}
  <ul class="post-list">
    {%- assign date_format = site.date_format | default: "%Y-%m-%d" -%}
    {%- for post in posts -%}
    {%- assign mdate = post.date -%}
    {%- if post.update %}{% assign mdate = post.update %}{%- endif -%}
    <li date="{{post.date}}"{%if post.last_modified_at%} update="{{post.last_modified_at}}"{%endif%}>{{- '' -}}
      <h3>{{- '' -}}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {%- if post.emotag -%}<emotag>{{ post.emotag }}</emotag>{%- endif -%}
      </h3>{{- '' -}}
      <pmeta>{{- '' -}}
        <date>{{ mdate | date: date_format }}</date>{{- '' -}}
        <tags>{% for tag in post.tags %} {{tag}}{% endfor %}</tags>{{- '' -}}
      </pmeta>
      {%- if site.show_excerpts -%}
      <excerpt>{{ post.content | strip_html | strip_newlines | normalize_whitespace | strip | truncate: 80 }}</excerpt>
      {%- endif -%}
    </li>
    {{- '
' -}}
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>
<script>
  var SITE_CONFIG={disqus: "{{site.disqus}}"};
</script>
<script src="{{ "/assets/js/home.js " | relative_url }}" async></script>
