---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=2,user-scalable=no"/>
  <link rel="shortcut icon" type="image/x-ico" href="/favicon.ico"/>
  <meta name="author" content="{{site.author}}" />
  <title>{{ page.title }}</title>
  <!-- jQuery -->
  <!-- <script src="/js/jquery-1.12.2.min.js"> </script> -->
  <!-- Bootstrap -->
  <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"/> -->
  <!-- <script src="/js/bootstrap.min.js"></script> -->
  <!-- font-awesome -->
  <link href="/css/font-awesome.min.css" rel="stylesheet">
<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
</style>
</head>
  
<body>

<div align="center">
<div class="index-content" align="left">
{{ content }}
</div>
</div>

{% include analytics.html %}
</body>
</html>