--- 
layout: frame
--- 
<div class="container" style="max-width: 768px; margin-left: auto; margin-right: auto;" id="post-container">

<!-- next and previous -->
<ul class="pager" id="post-pager">
  {%if page.next%}
  <li class="next pull-right">
    <a href="{{page.next.url}}">
      Newer: {{page.next.title}}
    </a>
  </li>
  {%endif%}
  {%if page.previous%}
  <li class="previous">
    <a href="{{page.previous.url}}">
      Older: {{page.previous.title}}
    </a>
  </li>
  {%endif%} 
</ul>
<hr>

<!-- Title -->
<h2>{{ page.title }}</h2>
{% if page.tags.size > 0 %}
<i>
Tags: {% for tag in page.tags %}{% if tag != "" %}
{{ tag }}
{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}
</i>
{% endif %}
<div class="post-date" style="padding: 15px 0 0 0px; color: gray;">
	{{ page.date | date:"%Y-%m-%d" }}
</div>
<div style="padding-top: 20px; padding-bottom: 50px;">
{{ content }}
</div>

</div>