<header class="site-header">

  <div class="wrapper shell-wrapper">
    <a class="site-title" rel="author" href="/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <div class="left-nav">
          {% for link in site.left_nav %}
          <a class="page-link" href="{{ link.url }}" {% if link.title %} title="{{ link.title }}" {% endif %}{% if
            link.blank %} target="_blank" rel="noopener noreferrer" {% endif %}>{{ link.text }}</a>
          {% endfor %}
        </div>
        {% if site.right_nav and site.right_nav.length %}
        <div class="nav-divider"></div>
        <div class="right-nav">
          {% for link in site.right_nav %}
          <a class="page-link" href="{{ link.url }}" {% if link.title %} title="{{ link.title }}" {% endif %}{% if
            link.blank %} target="_blank" rel="noopener noreferrer" {% endif %}>{{ link.text }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </nav>
  </div>
</header>